[Env]
# Type Of Environment, minigrid or mujoco
Env_type : mujoco
# Name Of Environment: ModifiedEmptyRoomEnv-v0(minigrid),FetchPickAndPlace-v1(mujoco),FetchPush-v1(mujoco),FetchReach-v1(mujoco),FetchSlide-v1(mujoco)
Env_name : FetchPickAndPlace-v1

[Train]
MAX_EPOCHS : 10
MAX_CYCLES : 50
MAX_EPISODES : 2
NUM_TRAIN : 10
# Discount Factor
GAMMA : 0.95
# Learning Rate Of Actor
LR_A : 5e-4
# Learning Rate Of Critic
LR_C : 5e-4
# Soft Update Factor
TAU : 0.05

[ExperienceReplay]
MEMORY_CAPACITY : 10000
BATCH_SIZE : 64
K_future : 4
# Experience Replay Algorithm: HER,CHER,EBPHER(For Env FetchPickAndPlace,FetchPush,FetchSlide)
Sampler: EBPHER

[EBP_Setting]
G : 9.81
M : 1
Delta_t : 0.04
Weight_potential : 1.0
Weight_kinetic : 1.0
Max_energy : 999

[CHER_Setting]
LR_CHER : 0.0001
LAMDA_0 = 1
# Dynamic:-1; Fixed: Other
FIXED_LAMDA = -1
SIZE_A = 64
SIZE_k = 3